<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataCreator.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <DataCreator.Properties.Settings>
      <setting name="NumberOfTransactions" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="NumberOfCategories" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MinWordLength" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxWordLength" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="AllowedCharacters" serializeAs="String">
        <value>abcdefghijklmnopqrstuvwxyzäöüßABCDEFGHIJKLMNOPQRSTUVWXYZÄÖÜ</value>
      </setting>
      <setting name="MinAmountValue" serializeAs="String">
        <value>-500</value>
      </setting>
      <setting name="MaxAmountValue" serializeAs="String">
        <value>500</value>
      </setting>
    </DataCreator.Properties.Settings>
  </applicationSettings>
</configuration>